<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="jp.co.internous.team2504.model.mapper.TblPurchaseHistoryMapper">

	<insert id="insert" useGeneratedKeys="true">
		INSERT INTO tbl_purchase_history (
		  destination_id,
		  user_id,
		  product_id,
		  product_count,
		  price,
		  purchased_at,
		  created_at,
		  updated_at,
		  status
		)
		SELECT
		  #{destinationId},
		  #{userId},
		  c.product_id,
		  c.product_count,
		  p.price,
		  NOW(),
		  NOW(),
		  NOW(),
		  1
		FROM tbl_cart c
		JOIN mst_product p ON c.product_id = p.id
		WHERE c.user_id = #{userId}
	</insert>

	<select id="findByUserId"
		resultType="jp.co.internous.team2504.model.domain.dto.PurchaseHistoryDto">
		SELECT
		  p.product_name,
		  ph.price,
		  ph.product_count,
		  ph.purchased_at,
		  d.family_name,
		  d.first_name,
		  d.address
		FROM
		  tbl_purchase_history ph
		LEFT JOIN mst_destination d ON ph.destination_id = d.id
		LEFT JOIN mst_product p ON ph.product_id = p.id
		WHERE
		  ph.user_id = #{userId}
		AND
		  ph.status = 1
		ORDER BY
		  ph.purchased_at DESC
	</select>
</mapper>